CONFIG_ARCH_PC_AUTO=y
CONFIG_MODULE=n
CONFIG_SHLIB=n
CONFIG_COMPAQ_FAST=n

CONFIG_286PMODE=n
CONFIG_386RAM=n

CONFIG_STRACE=n
CONFIG_OPT_SMALL=n

CONFIG_NOFS=n
CONFIG_EXEC_ROM=n

CONFIG_CONSOLE_DIRECT=y
CONFIG_DCON_VT52=y
CONFIG_DCON_ANSI=y
CONFIG_DCON_ANSI_PRINTK=n
CONFIG_DCON_KRAW=y
CONFIG_CONSOLE_BIOS=n
CONFIG_BIOS_VT52=y
CONFIG_CONSOLE_SERIAL=n
CONFIG_DEFAULT_KEYMAP=y
CONFIG_CHAR_DEV_MEM=y
CONFIG_CHAR_DEV_RS=y
CONFIG_PSEUDO_TTY=y
CONFIG_CHAR_DEV_LP=y
CONFIG_DEV_META=n

CONFIG_BLK_DEV_FD=n
CONFIG_BLK_DEV_HD=n
CONFIG_BLK_DEV_BIOS=y
CONFIG_BLK_DEV_BHD=y
CONFIG_BLK_DEV_BFD=y
CONFIG_BLK_DEV_RAM=n
CONFIG_BLK_DEV_XD=n
CONFIG_BLK_DEV_CHAR=y
CONFIG_BLK_DEV_SSD=y
CONFIG_BLK_DEV_ID=n

CONFIG_MINIX_FS=y
CONFIG_ROMFS_FS=n
CONFIG_ELKSFS_FS=n
CONFIG_FULL_VFS=n
CONFIG_FS_EXTERNAL_BUFFER=y
CONFIG_PIPE=y
CONFIG_FS_RO=n
CONFIG_EXEC_SUGID=n
CONFIG_EXEC_MINIX=y
CONFIG_EXEC_MSDOS=n

CONFIG_SOCKET=y
CONFIG_UNIX=n
CONFIG_NANO=y
CONFIG_INET=n
CONFIG_SOCK_CLIENTONLY=n
CONFIG_SOCK_STREAMONLY=y

