bin/mkromfs
bin/mfsck
bin/mfs
bin/setboot
bin/objdump86
bin/omfdump
bin/omf2elf
bin/os2toelks
bin/os2dump
bin/elf2elks
bin/elks-compress
bin/exomizer
bin/eman
bin/ewcc
bin/ewlink
bin/ecc
bin/fixomf
elftoolchain-0.7.1
bin/mattrib
bin/mcopy
bin/mdir
bin/mformat
bin/minfo
bin/mmd
bin/mshowfat
bin/hd
bin/disasm
bin/nm86
