# ELKS Networking Configuration File
# sourced by /bin/net for ktcp and daemons

# Default IP address, gate and network mask set in /bootopts or overridden here.
# These can be IP addresses or names in /etc/hosts.
# If not set, DCHP will be used.
localip=$LOCALIP
gateway=$GATEWAY
netmask=$NETMASK

# reduce for 8bit NE2K w/4K buffer
mtu=
#mtu="-m 1000"

# default link layer [ne0|wd0|3c0|slip|cslip]
link=ne0

# default serial port and baud rate if slip/cslip
device=/dev/ttyS0
baud=38400

# daemons to start are actually shell variable command lines see below
netstart="telnetd ftpd"
#netstart="ftpd"

# specific daemon command lines, named in netstart=
telnetd="telnetd"
ftpd="ftpd -d"
httpd="httpd"

# custom code executed before network startup
custom_prestart_network()
{
}

# custom code executed after network startup
custom_poststart_network()
{
	#echo "Network started"
}

# custom code executed after network shutdown
custom_stop_network()
{
}
